* {
	font-family: "Cambria Math", Times, serif;
	 /* margin: 0 auto;  */
}

/***********Main Page Styling***************/
.home{
	width: 100%;
	margin: 0 auto;
	/* border: 1px solid black; */
}
.header {
	width: 50%;
	margin: 0 auto;
	float: right;
	font-size: 42px;
}
.header h1 {
	text-align: center;
	line-height: 1.4em;
}
.nav {
	font-size: 36px;
	text-align: left;
	line-height: 2.2em;
	position: relative;
	top: 140px;
	left: 50px;
}
.nav ul {
	list-style-type: disc;
}
.nav ul #a {
	position: relative;
	left: 30px;
}
.nav ul #b {
	position: relative;
	left: 30px;
}
.nav ul #c {
	position: relative;
	left: 30px;
}
#quote {
	width: 30%;
	margin-left: 200px;
	line-height: 1.5em;
	text-align: center;
	font-size: 18px;
	display: flex;
	position: relative;
	top: 280px;
}
/**************Circle Graphic Section****************/
.graphic {
	width: 90%;
	margin: 0 auto;
	display: flex;
	position: absolute;
	top: 150px;
}
.circle {
	background-color: rgb(240, 77, 152);
	border-radius: 50%;
	display: flex;
	margin: 0 auto;
}
.noShow{
	visibility: hidden;
}
.one {
	width: 40px;
	height: 40px;
	order: 1;
	position: relative;
	top: -20px;
	left: 20px;
}
.two {
	width: 60px;
	height: 60px;
	order: 2;
	position: relative;
	top: -80px;
	left: 25px;
}
.three {
	width: 100px;
	height: 100px;
	order: 3;
	position: relative;
	top: -60px;
	left: 40px;
}
.four {
	width: 140px;
	height: 140px;
	order: 4;
	position: relative;
	left: 60px;
}
.five {
	width: 180px;
	height: 180px;
	order: 5;
	position: relative;
	top: 80px;
	left: 100px;
}
.six {
	width: 600px;
	height: 600px;
	order: 6;
	position: relative;
	top: 140px;
	left: 100px;
}
#graphic-photo {
	margin: 0 auto;
	height: 100px;
}
/**************Styling About Section****************/
.about {
	width: 100%;
	background-color: rgb(240, 77, 152);
	height: 370px;
	margin-top: 100px;
	position: relative;
	top: 400px;
}
.about-info {
	width: 95%;
	margin: 0 auto;
	padding: 10px 5px 5px 5px;
	height: 350px;
}
.about-info h2 {
	font-size: 36px;
	margin: 10px 0 5px 0;
}
.about-info p {
	font-size: 26px;
	width: 60%;
	margin: 10px 0;
}
.photo {
	float: right;
	height: 100%;
}
.photo img {
	width: 75%;
	height: 75%;
}
/*****************Styling Project Section**************/



/*****************Styling Footer Section**************/
.footer {
	width: 100%;
	margin: 0 auto;
	background-color: rgb(240, 77, 152);
	height: 50px;
	position: relative;
	top: 400px;
}