* {
	font-family: "Cambria Math", Times, serif;
	 /* margin: 0 auto;  */
}

/***********Main Page Styling***************/
 .header{
	width: 100%;
	height: 1000px;
	margin: 0 auto;
} 
.header h1 {
	width: 50%;
	margin: 0 auto;
	float: right;
	text-align: center;
	line-height: 1.4em;
	font-size: 56px;
}
.nav {
	font-size: 36px;
	text-align: left;
	line-height: 2.2em;
	position: relative;
	top: 140px;
	left: 50px;
}
.nav ul {
	list-style-type: disc;
	position: relative;
	left: 30px;
}
.nav ul #a {
	position: relative;
	left: 30px;
}
.nav ul #b {
	position: relative;
	left: 30px;
}
.nav ul #c {
	position: relative;
	left: 30px;
}
#quote {
	width: 30%;
	margin-left: 100px;
	position: relative;
	top: 280px;
}
#quote p {
	line-height: 1.5em;
	text-align: center;
	font-size: 22px;
}
/**************Circle Graphic Section****************/
#graphic {
	width: 90%;
	margin: 0 auto;
	display: flex;
	position: absolute;
	top: 150px;
}
.circle {
	background-color: rgb(240, 77, 152);
	border-radius: 50%;
	display: flex;
	margin: 0 auto;
}

.one {
	width: 40px;
	height: 40px;
	order: 1;
	position: relative;
	top: -20px;
	left: 20px;
}
.two {
	width: 60px;
	height: 60px;
	order: 2;
	position: relative;
	top: -80px;
	left: 25px;
}
.three {
	width: 100px;
	height: 100px;
	order: 3;
	position: relative;
	top: -60px;
	left: 40px;
}
.four {
	width: 140px;
	height: 140px;
	order: 4;
	position: relative;
	left: 60px;
}
.five {
	width: 180px;
	height: 180px;
	order: 5;
	position: relative;
	top: 80px;
	left: 100px;
}
.six {
	width: 600px;
	height: 600px;
	order: 6;
	position: relative;
	top: 140px;
	left: 100px;
}
/* .noShow{ */
	/* visibility: hidden; */
/* } */
#graphic-photo {
	margin: 0 auto;
	height: 600px;
}
/**************Styling About Section****************/
.about-info {
	width: 100%;
	background-color: rgb(240, 77, 152);
	border: 4px solid black;
	border-radius: 10px;
	margin: 0 auto;
	padding: 10px 5px 5px 20px;
	height: 380px;
}
.about-info h2 {
	font-size: 36px;
	margin: 10px 0 5px 0;
}
.about-info p {
	font-size: 26px;
	width: 60%;
	margin: 10px 0;
}
.photo {
	float: right;
	height: 100%;
}
.photo img {
	width: 75%;
	height: 75%;
}
/*****************Styling Project Section**************/
#project {
	width: 100%;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
}
.project-info {
	width: 250px;
	height: 120px;
	margin: 40px 20px 20px 0px;
	padding: 5px 5px;
	background-color: rgb(240, 77, 152);
	border: 4px solid black;
	border-radius: 10px;
	/* box-shadow: 5px 10px #000; */
}
.project-info h3, p {
	margin: 5px auto;
}


/*****************Styling Footer Section**************/
.footer {
	width: 100%;
	height: 250px;
	margin: 0 auto;
	padding: 10px;
	background-color: rgb(240, 77, 152);
	height: 50px;
	border: 4px solid black;
	border-radius: 10px;
	/* top: 400px; */
}
.footer h3 {
	margin: 0 auto;
}