* {
	font-family: "Cambria Math", Times, serif;
}

/***********Main Page Styling***************/
.home{
	width: 100%;
}
.header {
	width: 60%;
	float: right;
	font-size: 40px;
}
.header h1 {
	text-align: center;
	line-height: 1.4em;
}
.nav {
	font-size: 28px;
	width: 0%;
	text-align: left;
	line-height: 2.2em;
}
.nav ul {
	list-style-type: disc;
}
.nav ul #a {
	position: relative;
	left: 20px;
}
.nav ul #b {
	position: relative;
	left: 20px;
}
.nav ul #c {
	position: relative;
	left: 20px;
}
#quote {
	width: 30%;
	margin-left: 100px;
	line-height: 1.5em;
	text-align: center;
	font-size: 18px;
}
/**************Circle Graphic Section****************/
.graphic {
	width: 90%;
	display: flex;
	/* margin: 0 auto; */
}
.circle {
	background-color: rgb(240, 77, 152);
	border-radius: 50%;
	display: flex;
}
.one {
	width: 40px;
	height: 40px;
	order: 1;
	position: relative;
	top: -20px;
	left: 20px;
}
.two {
	width: 60px;
	height: 60px;
	order: 2;
	position: relative;
	top: -100px;
	left: 40px;
}
.three {
	width: 100px;
	height: 100px;
	order: 3;
	position: relative;
	top: -60px;
	left: 60px;
}
.four {
	width: 140px;
	height: 140px;
	order: 4;
	position: relative;
	left: 80px;
}
.five {
	width: 180px;
	height: 180px;
	order: 5;
	position: relative;
	top: 80px;
	left: 110px;
}
.six {
	width: 600px;
	height: 600px;
	order: 6;
	position: relative;
	top: 140px;
	left: 140px;
}
/**************Styling About Section****************/
.about {
	width: 100%;
	background-color: rgb(240, 77, 152);
	height: 370px;
}
.about-info {
	width: 95%;
	margin: 0 auto;
	padding: 10px 5px 5px 5px;
	height: 350px;
}
.about-info h2 {
	font-size: 34px;
	margin: 10px 0 5px 0;
}
.about-info p {
	font-size: 20px;
	width: 70%;
	margin: 10px 0;
}
.photo {
	float: right;
	width: 26%;
	height: 100%;
}
.photo img {
	width: 100%;
}
	

/*****************Styling Project Section**************/