* {
	font-family: "Cambria Math", Times, serif;
	 /* margin: 0 auto;  */
}
body {
	background-color: #F5EFE4;
}
.border-style {
	width: 100%;
	height: 30px;
	border-top: 5px solid rgb(240, 77, 152);
	border-bottom: 5px solid rgb(240, 77, 152);
}

/***********Main Page Styling***************/
 header{
	width: 100%;
    height: auto;
    z-index: 2;
    display: flex;
	
} 
.name {
	width: 50%;
    text-align: left;
    line-height: 1em;
    font-size: 2.7rem;
    padding: 10px 0;
    margin: 5px 0 5px 15px;
}
.nav {
	width: 50%;
    font-size: 2rem;
    display: inline-flex;
    list-style-type: none;
    margin: auto 15px auto 0;
	justify-content: end;
}

li a {
	padding: 40px 18px;
	margin: auto 0;
	text-decoration: none;
}

li a:link, li a:visited {
	color: #000;
	text-decoration: none;
}
li a:hover {
	background-color:  rgb(240, 77, 152);
	color: #fff;
}
li a:active {
	background-color: #000;
	color:#fff;
}

/**************Circle Graphic Section****************/
#graphic {
	width: 100%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
	background-color: rgb(240, 77, 152);
    opacity: 0.9;
	width: 300px;
	height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}
.circle p {
	margin: 0 auto;
}
.one {
	margin-left: 15px;
}
.two {
	margin-left: -25px;
}
.three {
	margin-left: -25px;
}
.four {
	margin-left: -25px;
}
.five {
	margin-left: -25px;
}
.hidden{
	visibility: hidden;
} 
#graphic-photo {
	margin: 0 auto;
	height: 300px;
}
/**************Styling About Section****************/
.about-info {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	height: auto;
}
.objective, .skill, .experience, .certification {
	width: 80%;
	margin: 0 auto;
}
.about-info h2 {
	font-size: 2.25rem;
	margin: 10px 0 5px 0;
}
.about-info p {
	font-size: 1.525rem;
	margin: 10px 0;
}
.about-info li {
	font-size: 1.525rem;
	margin: 10px 0;
}
.skills {
	list-style-type: none;
	font-size: 1.7rem;
	display: inline-block;
    margin: 5px 10px;
    padding: 10px;
}
h3 {
	font-size: 1.8rem;
	text-decoration: underline;
}
/*.photo {
	float: right;
    height: 80%;
    width: 25%;
    margin: -40px 15px 10px 35px;
}
.photo img {
	width: 75%;
	height: 75%;
}*/
/*****************Styling Project Section**************/
.project-section {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	margin-bottom: 25px;
}
#personalProject,
#codecademyProject {
	width: 80%;
	height: auto;
	display: flex;
	text-align: center;
	margin: 0 auto;
}
#projectTitle {
	font-size: 36px;
}
.project-info {
	width: 250px;
    height: auto;
	margin: 0 15px;
    padding: 5px 15px;
    border: 4px solid rgb(232 127 176);
    box-shadow: 5px 5px rgb(232 127 176);
    border-radius: 10px;
}
.project-info:hover {
	background-color: rgb(232 127 176);
    color: white;
    box-shadow: 0 0;
}
.project-info h4{
	font-size: 1.3rem;
	margin: 5px auto;
}

.project-info p {
	margin: 5px auto;
	overflow-wrap: break-word;
}

.project-info a:link {
	color: blue;
}
.project-info a:visited {
	color: #000;
}

.project-info a:active {
	color:#fff;
}


/*****************Styling Footer Section**************/
.footer {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	height: 120px;
}
.footer h2 {
	font-size: 2.25rem;
}
.footer ul {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.contact-list {
	list-style-type: none;
	font-size: 1.6rem;
	display: inline-block;
}
.contact-list a {
	padding-bottom: 10px;
}

.contact-list a:hover {
	background-color:  rgb(240, 77, 152);
	color: #fff;
}
.contact-list a:active {
	background-color: #000;
	color:#fff;
}
