/* latin */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400, 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/*Main Div section styling*/

body {
	background-color: #F9F5E3;
	font-family: 'Poppins', Times, serif;
	font-weight: 400;
	display: inline-flex;
    width: 100%;
	height: auto;

}
#designDiv {
	margin: 0 auto;
	width: 40%;
}
#contentDiv {
	margin: 0 auto;
	width: 60%;
}
/* .border-style {
	width: 100%;
	height: 30px;
	border-top: 5px solid rgb(240, 77, 152);
	border-bottom: 5px solid rgb(240, 77, 152);
} */

/***********Page Design and navigation Styling***************/
#squareDesign {
	background-color: #002500;
	width: 180px;
	height: 1800px;
	margin-left: 120px;
	margin-top: -80px;
    padding: 10px 5px;
}
#bigCircle {
	background-color: #E87FB0;	
	width: 320px;
	height: 320px;
    border-radius: 50%;
	margin-left: -75px;
	margin-top: 90px;
}
#graphic-photo {
	margin: 10px auto;
	height: 300px;
}
.circle {
	width: 170px;
	height: 170px;
	margin: 20px 0px;
    margin-left: 4px;
    border-radius: 50%;
    font-size: 1.8rem;
	display: flex;
    align-items: center;
    text-align: center;
	justify-content: center;
}
.purple {
	background-color: #450C27;
	color:#F9F5E3;
}
.pink {
	background-color: #E87FB0;	
	color:#F9F5E3;
}
.latte {
	background-color: #F9F5E3;
	color:#450C27;
}
.bounce-in {
	animation: bounce-in 2s ease infinite;
  }
  @keyframes bounce-in {
	0% {
	  opacity: 0;
	  transform: scale(.3);
	}
	50% {
	  opacity: 1;
	  transform: scale(1.05);
	}
	70% { transform: scale(.9); }
	100% { transform: scale(1); }
  }
/*Header Styling*/
 header{
	width: 100%;
    height: auto;
	margin-top: 80px;
	
} 
#name {
	width: 100%;
	margin: 10px auto;
    line-height: 1em;
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}
#jobTitle {
	width: 100%;
	margin: 0 auto;
	margin-top: -25px;
    line-height: 1em;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    
}
.nav {
	width: 100%;
    font-size: 2rem;
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
	margin: 10px auto;
}

li a {
	padding: 30px 18px;
	margin: auto 0;
	text-decoration: none;
}

li a:link, li a:visited {
	color: #000;
	text-decoration: none;
}
li a:hover {
	background-color:  rgb(240, 77, 152);
	color: #fff;
}
li a:active {
	background-color: #000;
	color:#fff;
}

/**************Circle Graphic Section****************/
#graphic {
	width: 100%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .circle {
	background-color: rgb(240, 77, 152);
    opacity: 0.9;
	width: 300px;
	height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
} */
.circle p {
	margin: 0 auto;
}
.one {
	margin-left: 15px;
}
.two {
	margin-left: -25px;
}
.three {
	margin-left: -25px;
}
.four {
	margin-left: -25px;
}
.five {
	margin-left: -25px;
}
.hidden{
	visibility: hidden;
} 

/**************Styling About Section****************/
.about-info {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	height: auto;
}
.objective, .skill, .experience, .certification {
	width: 80%;
	margin: 0 auto;
}
.about-info h2 {
	font-size: 2.25rem;
	margin: 10px 0 5px 0;
}
.about-info p {
	font-size: 1.525rem;
	margin: 10px 0;
}
.about-info li {
	font-size: 1.525rem;
	margin: 10px 0;
}
.skills {
	list-style-type: none;
	font-size: 1.7rem;
	display: inline-block;
    margin: 5px 10px;
    padding: 10px;
}
h3 {
	font-size: 1.8rem;
	text-decoration: underline;
}
/*.photo {
	float: right;
    height: 80%;
    width: 25%;
    margin: -40px 15px 10px 35px;
}
.photo img {
	width: 75%;
	height: 75%;
}*/
fieldset {
	width: 100%;
	border-color: rgb(232 127 176);
	margin: 20px auto;
    padding: 20px 20px;
}
legend {
	font-weight: bold;
	font-size: 1.3rem;
}
label {
	font-size: 1.1rem;
}
input {
	width: 95%;
	padding: 10px;
	margin: 10px auto;

}
input:focus {
	background-color: rgb(232 127 176);
	opacity: 0.3;
}
input[type=textarea] {
	height: 200px;
}
input[type=submit] {
	background-color: rgb(232 127 176);
	color:#fff;
	font-size: 1.5rem;
	width: 98%;
	height: 55px;
	border: none;
	border-radius: 10px
	
}
/*****************Styling Project Section**************/
.project-section {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	margin-bottom: 25px;
}
#personalProject,
#codecademyProject {
	width: 80%;
	height: auto;
	display: flex;
	text-align: center;
	margin: 0 auto;
}
#projectTitle {
	font-size: 36px;
}
.titleP {
	width: 80%;
	margin: 15px auto 25px;
}
.project-info {
	width: 250px;
    height: auto;
	margin: 0 15px;
    padding: 5px 15px;
    border: 4px solid rgb(232 127 176);
    box-shadow: 5px 5px rgb(232 127 176);
    border-radius: 10px;
}
.project-info:hover {
	background-color: rgb(232 127 176);
    color: white;
    box-shadow: 0 0;
}
.project-info h4{
	font-size: 1.3rem;
	margin: 5px auto;
}

.project-info p {
	margin: 5px auto;
	overflow-wrap: break-word;
}

.project-info a:link {
	color: blue;
}
.project-info a:visited {
	color: #000;
}

.project-info a:active {
	color:#fff;
}


/*****************Styling Footer Section**************/
.footer {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	height: 120px;
}
.footer h2 {
	font-size: 2.25rem;
}
.footer ul {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.contact-list {
	list-style-type: none;
	font-size: 1.6rem;
	display: inline-block;
}
.contact-list a {
	padding-bottom: 10px;
}

.contact-list a:hover {
	background-color:  rgb(240, 77, 152);
	color: #fff;
}
.contact-list a:active {
	background-color: #000;
	color:#fff;
}
